@import url('fonts.css');
@import url('reset.css');

body {
  padding: 50px 25px 50px 25px;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
}

.header {
  padding: 50px 25px 300px 25px;
}

.menu__item {
  display: inline-block;
  position: relative;
  margin-right: 35px;
}

.menu__item:hover .menu-link,
.sub-menu__item:hover .sub-menu__link {
  background-color: rgb(230, 230, 128);
}

.menu__item:hover .sub-menu {
  visibility: visible;
}

.third-sub-menu__item:hover .sub-menu__link {
  background-color: rgb(230, 230, 128);
}

.sub-menu__item:hover .third-sub-menu {
  visibility: visible;
}

.menu {
  background-color: bisque;
  color: #37393F;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 100%;
}
.sub-menu {
  position: absolute;
  left: 0;
  top: 100%;
  padding-top: 5px;
  width: 100px;
  text-align: left;
  visibility: hidden;
}

.third-sub-menu {
  position: absolute;
  left: 100px;
  top: 72%;
  padding-top: 5px;
  width: 140px;
  text-align: left;
  visibility: hidden;
}

.sub-menu__item,
.third-sub-menu__item {
  background-color: #f9f6f6;
}
.sub-menu__link,
.third-sub-menu__link {
  display: inline-block;
  padding: 5px;
}

.sub-menu__link:hover,
.third-sub-menu__link:hover {
  background-color: rgb(230, 230, 128);
}

.section-team {
  max-width: 1220px;
}

.section-team__item {
  max-width: 386px;
  width: 100%;
}

.team__card {
  position: relative;
}

.team__card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(107, 119, 229, 0.70);
  visibility: hidden;
  z-index: 2;
}

.team__card:hover::before {
  visibility: visible;
}

.card__social {
  font-size: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -88px;
  margin-top: -25px;
  z-index: 3;
  visibility: hidden;
}

.team__card:hover::before {
  visibility: visible;
}

.team__card:hover .card__social {
  visibility: visible;
}

.social__insta,
.social__fb,
.social__tw {
  display: inline-block;
}

.social__insta:hover,
.social__fb:hover,
.social__tw:hover {
  display: inline-block;
}

.insta__link {
  display: inline-block;
  background-image: url(../img/07-image.png);
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  margin-right: 13px;
}

.fb__link {
  display: inline-block;
  background-image: url(../img/08-image.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  margin-right: 13px;
}

.tw__link {
  display: inline-block;
  background-image: url(../img/09-image.png);
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

.social__insta:hover .insta__link,
.social__fb:hover .fb__link,
.social__tw:hover .tw__link {
  border: 2px dashed rgb(49, 196, 113);
  border-radius: 90%;
  padding: 1px;
}

.section-team__text {
  background: #FFF;
  max-width: 341px;
  padding: 24px 69px;
  position: relative;
  top: -132px;
  left: 22px;
  z-index: 4;
}

.long-name {
  padding: 24px 39px;
}

.text__name {
  color: #37393F;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.text__position {
  color: #7D7D7D;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.35;
}

.team__list {
  font-size: 0;
  
}
.team__item {
  display: inline-block;
}
.team__item:nth-child(1),
.team__item:nth-child(2),
.team__item:nth-child(4),
.team__item:nth-child(5) {
  margin-right: 31px;
}

.practice {
  max-width: 1200px;
  height: 600px;
  position: relative;
}
.practice__block-1,
.practice__block-2,
.practice__block-3,
.practice__block-5 {
  height: 200px;
  width: 800px;
  text-align: center;
  text-transform: uppercase;
}

.practice__block-1 {
  background-color: rgb(228, 77, 77);
  position: relative;
  right: 95px;
  bottom: 1%;
  z-index: 2;
}
.practice__block-2 {
  background-color: rgb(138, 219, 219);
  position: absolute;
  top: 80px;
  left: 100px;
}
.practice__block-3 {
  background-color: rgb(123, 123, 54);
}

.practice__block-4 {
  background-color: rgb(213, 213, 137);
  width: 100px;
  height: 100px;
}

.haloween__image {
  height: 150px;
}

.section-fixed__block-5 {
  position: fixed;
  top: 150px;
  left: 1250px;
}

.footer {
  padding: 50px 15px 50px 15px;
}

.footer__text {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: 700;
}

.section-sticky {
  max-width: 1200px;
  height: 750px;
  margin-bottom: 100px;
}
.section-sticky__block-1 {
  height: 250px;
  width: 300px;
  background-color: rgb(21, 230, 230);
}
.section-sticky__block-2 {
  position: sticky;
  top: 0;
  left: 100px;
  height: 200px;
  width: 400px;
  background-color: rgb(70, 184, 144);
}
.section-sticky__block-3 {
  position: sticky;
  top: 15px;
  left: 300px;
  height: 150px;
  width: 500px;
  background-color: rgb(30, 83, 107);
}
.section-sticky__block-4 {
  height: 150px;
  width: 600px;
  background-color: rgb(126, 187, 215);
}
