@import url("fonts.css");
@import url("reset.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
	max-width: 1200px;
	margin: 50px auto;
	padding: 15px;
  font-family: 'DM Serif Text', serif;
}

.header__label,
.footer__label {
  font-family: 'Inter', sans-serif;
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: 700;
}

/*
  =========================================================================
*/

.section-jewellery {
  background: #FEFAF4 url("../img/05-image.webp") right 400px no-repeat;
}

.jewellery__title {
  color: #000;
  font-size: 58px;
  font-weight: 400;
  line-height: 100%;
}

.jewellery__title:not(:last-child) {
  margin-bottom: 16px;
}

.jewellery__subtitle {
  color: #606060;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.80;
}

.jewellery__subtitle:not(:last-child) {
  margin-bottom: 53px;
}

.jew-products {
  display: flex;
  margin: 0 -24px;
  flex-wrap: wrap;
}

.jew-products__coloumn {
  padding: 0 24px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 33.3333%;
}

.item-products-jew {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  flex-basis: 350px;
}

.item-products-jew__image {
  overflow: hidden;
}

.item-products-jew__image img {
  max-width: 100%;
}

.item-products-jew__image:not(:last-child) {
  margin-bottom: 16px;
}

.item-products-jew__body {
  display: flex;
  flex-grow: 1;
}

.item-products-jew__content {
  flex-grow: 1;
  flex-basis: 357px;
  display: flex;
  flex-direction: column;
  max-width: 357px;
}

.item-products-jew__title {
  flex-grow: 1;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.item-products-jew__title:not(:last-child) {
  margin-bottom: 16px;
}

.item-products-jew__text {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.60;
  flex-grow: 1;
  flex-shrink: 0;
}

.item-products-jew__text:not(:last-child) {
  margin-bottom: 16px;
}

.item-products-jew__link {
  align-self: flex-start;
  min-height: 14px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 24px;
  color: #F55529;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.5;
  display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
  transition: all 0.5s ease;
}

.item-products-jew__link::after{
	content: '';
	display: block;
	background: url("../img/04-image.svg") center no-repeat;
	width: 24px;
	height: 24px;
}

.item-products-jew__link:hover {
  text-decoration: underline dotted;
  color: #F55529;
  transform: scale(1.015);
  transition: all 0.3s ease;
}

@media(max-width: 991.80px) {
  .section-jewellery {
    background: #FEFAF4;
  }
  
  .jewellery__title:not(:last-child) {
    margin-bottom: 7px;
  }

  .jewellery__subtitle:not(:last-child) {
    margin-bottom: 12px;
  }

  .item-products-jew__title {
    font-size: 24px;
  }

  .item-products-jew__text {
    font-size: 18px;
  }

  .item-products-jew__link {
    margin-bottom: 20px;
  }

  .jew-products__coloumn {
    flex: 0 0 50%;
    display: flex;
    justify-content: center;
  }

  .jewellery__title {
    font-size: 34px;
    display: flex;
    justify-content: center;
  }

  .jewellery__subtitle {
    font-size: 22px;
    display: flex;
    justify-content: center;
  }
}


@media(max-width: 767.98px) {
  .jewellery__title {
    font-size: 26px;
  }

  .jewellery__subtitle {
    font-size: 20px;
  } 
}

@media(max-width: 575.98px) {
  .jew-products__coloumn {
    flex: 0 0 100%;
  }
}

/*
  =========================================================================
*/

.section-rings {
  margin-bottom: 100px;
}

.rings__container {
  max-width: 1400px;
}

.rings__title {
  color: #291403;
  font-size: 58px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}

.rings__title:not(:last-child) {
  margin-bottom: 27px;
}

.rings__products {
  display: flex;
  justify-content: center;
  min-height: 100%;
  column-gap: 5%;
  flex-wrap: wrap;
}

.rings__products:not(:last-child) {
  margin-bottom: 76px;
}

.rings__subtitle {
  color: #818181;
  text-align: center;
  font-family: 'Cormorant Infant', serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.40;
}
.products__link {
  display: block;
}
.products__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 271 / 270;
  object-fit: cover;

  transition: all 0.5s;
}

.products__image:hover {
  transform: scale(1.025);
  transition: all 0.3s;
}

.products__content {
  color: #000;
  font-family: 'Cormorant Infant', serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.products__content:not(:last-child) {
  margin-bottom: 76px;
}

.products__title:not(:last-child) {
  margin-bottom: 4px;
}

.products__price {
  transition: 0.3s ease;
}

.products__price:hover {
  color: #FF7A49;
}

.rings__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rings__link {
  display: block;
  padding: 12px 42px;
  background: #FF7A49;
  color: #FFF;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.87;
  transition: .3s ease;
}

.rings__link:hover {
  color:  #FF7A49;
  background: #FFF;
  border: solid 1px #FF7A49;
}

@media(max-width: 767.98px) {
  .rings__products {
    flex-wrap: wrap;
    justify-content:center;
    gap: 20px;
  }

  .rings__title:not(:last-child) {
    margin-bottom: 7px;
  }

  .rings__subtitle:not(:last-child) {
    margin-bottom: 5px;
  }

  .rings__item {
    flex: 1 0 50%;
  }

  .rings__title {
    font-size: 45px;
  }

  .rings__subtitle {
    font-size: 30px;
  }

}

@media(max-width: 575.98px) {
  .rings__products {
    flex-wrap: wrap;
    justify-content:center
  }

  .rings__title:not(:last-child) {
    margin-bottom: 7px;
  }

  .rings__subtitle:not(:last-child) {
    margin-bottom: 8px;
  }

  .rings__item {
    flex: 1 0 100%;
    justify-content: center;
  }

  .rings__title {
    font-size: 45px;
  }

  .rings__subtitle {
    font-size: 30px;
  }

}

/*
  =========================================================================
*/

.section-earrings {
  margin-bottom: 100px;
}

.earrings__container {
  max-width: 1633px;
  background-color: #0E333D;
  margin: 0 auto;
}
.earrings__title {
  color: #FFF;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.27;
  text-align: center;
}

.earrings__title:not(:last-child) {
  margin-bottom: 23px;
}

.earrings__subtitle {
  color: #EBEBEB;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.27;
  text-align: center;
}

.earrings__subtitle:not(:last-child) {
  margin-bottom: 34px;
}

.earrings__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 41px;
  flex-wrap: wrap;
}

.earrings__list:not(:last-child) {
  margin-bottom: 77px;
}

.earrings__list-item {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.27;
}

.earrings__list-item--first {
  text-decoration: underline;
}

.earrings__goods {
  display: flex;
  justify-content: center;
  column-gap: 30px;
  flex-wrap: wrap;
}

.earring__good {
  transition: .3s ease;
}

.earring__good:not(:last-child) {
  margin-bottom: 20px;
}

.earring__good:hover {
  transform: scale(1.1);
}

.earring__link {
  display: block;
}
.earring__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 271 / 270;
  object-fit: cover;
}

.earrings__goods a:not(:last-child) {
  margin-bottom: 17px;
}

.earring__content {
  color: #FFF;
  font-family: 'Cormorant Infant', serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.40;
}

.earring__price {
  transition: .5s ease;
}
.earring__price:hover {
  text-decoration: underline;
  transition: .3s ease;
}

@media(max-width: 991.80px) {
  .earrings__goods {
    justify-content:space-between;
    flex-wrap: wrap;
  }

  .earrings__title:not(:last-child) {
    margin-bottom: 7px;
  }

  .earrings__subtitle:not(:last-child) {
    margin-bottom: 5px;
  }

  .earring__good {
    flex: 1 0 33.3333%;
  }

  .earrings__title {
    font-size: 35px;
  }

  .earrings__subtitle {
    font-size: 25px;
  }

}

@media(max-width: 767.98px) {
  .earrings__container {
    padding: 44px 55px;
  }

  .earrings__goods {
    justify-content:space-between;
    flex-wrap: wrap;
  }

  .earrings__title:not(:last-child) {
    margin-bottom: 7px;
  }

  .earrings__subtitle:not(:last-child) {
    margin-bottom: 5px;
  }

  .earring__good {
    flex: 1 0 100%;
  }

  .earrings__title {
    font-size: 35px;
  }

  .earrings__subtitle {
    font-size: 25px;
  }

  .earring__content {
    text-align: center;
  }

  .earring__content:not(:last-child) {
    margin-bottom: 25px;
  }

}
