@import url("fonts.css");
@import url("reset.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
	max-width: 1430px;
	margin: 0 auto;
	padding: 15px;
  font-family: 'DM Serif Text', serif;
}

.header__label,
.footer__label {
  font-family: 'Inter', sans-serif;
  padding: 10px 15px 10px 15px;
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: 700;
}

.section-jewellery {
    background: #FEFAF4 url("../img/05-image.webp") right 400px no-repeat;
  }

  .section-jewellery:not(:last-child) {
    margin-bottom: 100px;
  }

.jewellery__title {
  color: #000;
  font-size: 38px;
  font-weight: 400;
  line-height: 100%;
}

.jewellery__title:not(:last-child) {
  margin-bottom: 27px;
}

.jewellery__subtitle {
  color: #606060;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 180%;
}

.jewellery__subtitle:not(:last-child) {
  margin-bottom: 60px;
}

.jewellery__products {
  display: flex;
  flex-direction: row;
}

.jewellery__item {
	display: flex;
	flex-direction: column;
  min-height: 100%;
}

.jewellery__item:not(:last-child) {
  padding-right: 48px;
}

.jewellery__item a {
  margin-bottom: 20px;
}

.item__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 357/240;
  object-fit: cover;
  transition: all 0.5s;
}

.item__image:hover{
	transform: scale(1.025);
  transition: all 0.3s;
}

.item__title {
  color: #000;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.20;
}

.item__title:not(:last-child) {
  margin-bottom: 28px;
}

.item__text {
  color: #000;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.60;
  margin-bottom: 24px;
}

.read-more__link {
  color: #F55529;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.5;

  display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;

  transition: all 0.5s ease;
}

.read-more__link::after{
	content: '';
	display: block;
	background: url("../img/04-image.svg") no-repeat;
	width: 24px;
	height: 24px;
}

.read-more__link:hover {
  text-decoration: underline dotted;
  color: #F55529;
  transform: scale(1.015);
  transition: all 0.3s ease;
}

@media(max-width: 1840px) {
  .section-jewellery {
    background: #FEFAF4;
  }

}

@media(max-width: 820px) {
  .jewellery__products {
    flex-wrap: wrap;
  }

  .jewellery__title:not(:last-child) {
    margin-bottom: 7px;
  }

  .jewellery__subtitle:not(:last-child) {
    margin-bottom: 12px;
  }

  .jewellery__item {
    flex: 1 0 50%;
    justify-content: center;
  }

  .jewellery__title {
    font-size: 30px;
  }

  .jewellery__subtitle {
    font-size: 15px;
  }

}


@media(max-width: 390px) {
  .jewellery__products {
    flex-wrap: wrap;
  }

  .jewellery__title:not(:last-child) {
    margin-bottom: 7px;
  }

  .jewellery__subtitle:not(:last-child) {
    margin-bottom: 12px;
  }

  .jewellery__item {
    flex: 1 0 100%;
  }

  .jewellery__title {
    font-size: 25px;
  }

  .jewellery__subtitle {
    font-size: 15px;
  }
}

/* ========================================================= */

.section-rings {
  margin-bottom: 100px;
}
.rings__title {
  color: #291403;
  font-size: 58px;
  font-weight: 400;
  line-height: 1;
  text-align: center;
}

.rings__title:not(:last-child) {
  margin-bottom: 27px;
}

.rings__products {
  display: flex;
  justify-content: space-between;
  min-height: 100%;
  column-gap: 5%;
}

.rings__products:not(:last-child) {
  margin-bottom: 76px;
}

.rings__subtitle {
  color: #818181;
  text-align: center;
  font-family: 'Cormorant Infant', serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1.40;
}
.products__link {
  display: block;
}
.products__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 271 / 270;
  object-fit: cover;

  transition: all 0.5s;
}

.products__image:hover {
  transform: scale(1.025);
  transition: all 0.3s;
}

.products__content {
  color: #000;
  font-family: 'Cormorant Infant', serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.4;
}

.products__content:not(:last-child) {
  margin-bottom: 76px;
}

.products__title:not(:last-child) {
  margin-bottom: 4px;
}

.products__price {
  transition: 0.3s ease;
}

.products__price:hover {
  color: #FF7A49;
}

.rings__button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rings__link {
  display: block;
  padding: 12px 42px;
  background: #FF7A49;
  color: #FFF;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 500;
  line-height: 1.87;
  transition: .3s ease;
}

.rings__link:hover {
  color:  #FF7A49;
  background: #FFF;
  border: solid 1px #FF7A49;
}

@media(max-width: 770px) {
  .rings__products {
    flex-wrap: wrap;
    justify-content:center;
    gap: 20px;
  }

  .rings__title:not(:last-child) {
    margin-bottom: 7px;
  }

  .rings__subtitle:not(:last-child) {
    margin-bottom: 5px;
  }

  .rings__item {
    flex: 1 0 50%;
  }

  .rings__title {
    font-size: 45px;
  }

  .rings__subtitle {
    font-size: 30px;
  }

}

@media(max-width: 590px) {
  .rings__products {
    flex-wrap: wrap;
    justify-content:center
  }

  .rings__title:not(:last-child) {
    margin-bottom: 7px;
  }

  .rings__subtitle:not(:last-child) {
    margin-bottom: 8px;
  }

  .rings__item {
    flex: 1 0 100%;
    justify-content: center;
  }

  .rings__title {
    font-size: 45px;
  }

  .rings__subtitle {
    font-size: 30px;
  }

}

/* ========================================================= */

.section-earrings {
  margin-bottom: 100px;
}

.earrings__container {
  background-color: #0E333D;
  padding: 94px 215px;
}
.earrings__title {
  color: #FFF;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.27;
  text-align: center;
}

.earrings__title:not(:last-child) {
  margin-bottom: 23px;
}

.earrings__subtitle {
  color: #EBEBEB;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.27;
  text-align: center;
}

.earrings__subtitle:not(:last-child) {
  margin-bottom: 34px;
}

.earrings__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 41px;
  flex-wrap: wrap;
}

.earrings__list:not(:last-child) {
  margin-bottom: 77px;
}

.earrings__list-item {
  color: #FFF;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.27;
}

.earrings__list-item--first {
  text-decoration: underline;
}

.earrings__goods {
  display: flex;
  column-gap: 30px;
}

.earring__good {
  transition: .3s ease;
}

.earring__good:hover {
  transform: scale(1.1);
}

.earring__link {
  display: block;
}
.earring__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 271 / 270;
  object-fit: cover;
}

.earrings__goods a:not(:last-child) {
  margin-bottom: 17px;
}

.earring__content {
  color: #FFF;
  font-family: 'Cormorant Infant', serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.40;
}

.earring__title {
}

.earring__price {
  transition: .5s ease;
}
.earring__price:hover {
  text-decoration: underline;
  transition: .3s ease;
}

@media(max-width: 975px) {
  .earrings__goods {
    justify-content:space-between;
    flex-wrap: wrap;
  }

  .earrings__title:not(:last-child) {
    margin-bottom: 7px;
  }

  .earrings__subtitle:not(:last-child) {
    margin-bottom: 5px;
  }

  .earring__good {
    flex: 1 0 33.3333%;
  }

  .earrings__title {
    font-size: 35px;
  }

  .earrings__subtitle {
    font-size: 25px;
  }

}

@media(max-width: 825px) {

  .earrings__container {
    padding: 44px 55px;
  }

  .earrings__goods {
    justify-content:space-between;
    flex-wrap: wrap;
  }

  .earrings__title:not(:last-child) {
    margin-bottom: 7px;
  }

  .earrings__subtitle:not(:last-child) {
    margin-bottom: 5px;
  }

  .earring__good {
    flex: 1 0 100%;
  }

  .earrings__title {
    font-size: 35px;
  }

  .earrings__subtitle {
    font-size: 25px;
  }

  .earring__content {
    text-align: center;
  }

  .earring__content:not(:last-child) {
    margin-bottom: 25px;
  }

}

/* I tried, but it didn't work out ========================================================= */

/* .section-consulting {
  
}

.consulting__container {
  background-color: #37393F;
  display: flex
}
.consulting__content {
}
.consulting__subtitle {
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.consulting__subtitle:not(:last-child),
.consulting__title:not(:last-child) {
  margin-bottom: 13px;
}

.consulting__title {
  color: #FFF;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.21;
}

.consulting__text {
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.46;
}

.consulting__text:not(:last-child),
.consulting__percent:not(:last-child) {
  margin-bottom: 36px;
}

.consulting__percent {
  display: flex;
  column-gap: 15px;
}
.consulting__image {
  width: 100%;
  height: 100%;
  aspect-ratio: 297 / 133;
  object-fit: cover;
}

.consulting__statistic {
  display: flex;
  column-gap: 60px;
}
.consulting__clients {
}
.consulting__clients-text {
  color: #FFF;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.consulting__clients-text-special {
  color: #FFF;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.consulting__clients-text-stars {
  color: #FFB342;
  font-family: 'Poppins';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.consulting__plus {
}
.consulting__clients-link {
  color: #40DDB6;
  text-align: center;
  font-family: 'Inter';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}

.consulting__content-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.consulting__content-image {		
	flex: 0 1 50%;
}

@media (max-width:1220px){
	.consulting__content-image {
		display: none; 
	}
} */
