@import url("fonts.css");
@import url("reset.css");

body {
  font-family: "Causten-Regular", sans-serif;
}

/* ===================================================================== */
.header {
  padding: 32px 0;
}

.header__container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__col {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__col--logo-mod {
  flex: 0 0 35.3%;
}

.header__col--actions-mod {
  margin-left: auto;
  gap: 66px;
}

.header__logo {
	flex: 0 0 93px;
	height: 45px;
}

.header__logo-link {
	display: block;
}

.header__logo-link img {
	width: 100%;
}

.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
  padding: 12px 48px;
  gap: 12px;
  margin-left: auto;

  color: #807D7E;
  font-size: 18px;
  font-weight: 500;

  background-color: #f6f6f6;
  border-radius: 8px;

  transition: background-color 0.3s ease;
}

.header__search::before {
	width: 20px;
	height: 20px;
	flex-shrink: 0;

	background: url("../img/11-image.svg") center / contain no-repeat;
	content: "";
}

.header__search:hover {
	background-color: #e4e4e4;
}

.header__lang-block {
  position: relative;

  color: #333;
  font-size: 18px;
}

.header__lang-link {
	position: relative;

	display: inline-flex;
	align-items: center;
	gap: 20px;
}

.header__lang-link:after {
	width: 10px;
	height: 5px;

	background: url(../img/12-image.svg) 0 0 no-repeat;

	content: '';
}

.header__btns-block {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-shrink: 0;
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  height: 46px;
  padding: 12px 20px;

  font-weight: 500;
  font-size: 18px;

  border-radius: 8px;
  border: 1px solid transparent;

  transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.button--violet-mod {
  min-width: 140px;
  color: #fff;
  background-color: #8a33fd;
}

.button--white-mod {
  min-width: 156px;
  color: #8a33fd;
  background-color: #fff;
  border-color: #3c4242;
}

.button--violet-mod:hover {
  border-color: #3c4242;
  color: #8a33fd;
  background-color: #fff;
}

.button--white-mod:hover {
  border-color: transparent;
  background-color: #8a33fd;
  color: #fff;
}
/* ===================================================================== */

.wrapper {
  overflow: clip;
  min-height: 100%;
}

.section-menu {
  max-width: 1270px;
  margin: 0 auto;
  padding: 15px 0 15px 10px;
}

.menu__column {
  display: flex;
  align-items: center;
}
.menu__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.item-menu__logo {
  margin-right: 135px;
  flex-grow: 1;
}

.item-menu-button {
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.item-menu-button-color {
  display: flex;
}

.item-menu-button-grey {
  max-width: 184px;
  width: 100%;
  max-height: 46px;
  padding: 12px 48px;
  border-radius: 8px;
  background: #f6f6f6;
  color: #807d7e;

  border: 1px solid transparent;

  display: flex;
  flex: 0 1 184px;
  flex-grow: 1;
  align-self: flex-start;
  justify-content: center;
  align-items: center;

  margin-right: 210px;
}

.item-menu-button-grey:hover {
  border: 1px solid #807d7e;
  color: #8a33fd;
  background: #fff;
}

.item-menu-button-grey::before {
  content: "";
  width: 20px;
  height: 20px;
  background: url("../img/11-image.svg") 0 0 no-repeat;
  margin-right: 12px;
  vertical-align: top;
}

.item-menu__country-title {
  max-width: 170px;
  max-height: 22px;
  color: #333;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 36px;
}

.item-menu__country-title::after {
  content: "";
  width: 10px;
  height: 5px;
  background: url("../img/12-image.svg") 0 0 no-repeat;
  margin-right: 60px;
  vertical-align: top;
}

.item-menu-button-violet {
  max-width: 140px;
  width: 100%;
  max-height: 46px;
  border-radius: 8px;
  background: #8a33fd;
  border: 1px solid #8a33fd;
  color: #fff;

  display: flex;
  flex: 0 0 140px;
  align-self: flex-start;
  justify-content: center;
  line-height: 1.12;

  padding: 12px 48px;
  align-items: center;
}

.item-menu-button-violet:hover {
  border: 1px solid #8a33fd;
  color: #8a33fd;
  background: #fff;
}

.item-menu-button-white {
  border-radius: 8px;
  border: 1px solid #3c4242;
  color: #8a33fd;
  display: flex;
  flex: 0 0 156px;
  align-self: flex-start;
  line-height: 1.25;

  padding: 12px 48px;
  align-items: center;
  justify-content: center;
}

.item-menu-button-white:hover {
  background: #8a33fd;
  color: #fff;
}

/* test */
.section-practice {
  padding: 50px 15px 50px 15px;
}

.block {
  background-color: lightseagreen;
  border: 3px solid orange;
  display: flex;
  margin-bottom: 20px;
}

.block__item {
  font-size: 15px;
  font-weight: 700;
  background-color: darkgreen;
  padding: 10px;
  text-align: center;
  border: 3px solid violet;
}

.block-one {
  display: inline-flex;
  flex-wrap: wrap;
}

.block-two {
  justify-content: center;
}

.block-two:hover {
  justify-content: flex-end;
}

.block-three {
  justify-content: space-between;
}

.block-three:hover {
  justify-content: space-evenly;
}

.block-four {
  align-items: center;
}

.block-four:hover {
  align-items: flex-end;
}

.block-five {
  height: 200px;
  flex-direction: column;
  gap: 10px;
}

.block-five:hover {
  flex-direction: column-reverse;
  gap: 5px;
}

.block-six {
  height: 80px;
  align-items: stretch;
}

.block__item-six:nth-child(1) {
  align-self: flex-start;
}
.block__item-six:nth-child(2) {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100px;
}

.block__item-seven:nth-child(1) {
  order: 3;
}
.block__item-seven:nth-child(2) {
  order: 1;
}
.block__item-seven:nth-child(3) {
  order: 2;
}

.section-categories {
  max-width: 1270px;
  margin: 0 auto;
  padding: 15px 15px 50px;
}

.section-categories__text {
  color: #3c4242;
  font-family: Core Sans C;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  line-height: 98.5%;
  letter-spacing: 0.68px;
}

.section-categories__text::before {
  content: "";
  width: 6px;
  height: 30px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #8a33fd;
  margin-right: 20px;
  vertical-align: top;
}

.products {
  padding: 50px 0px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -25px -50px;
}

.products__column {
  padding: 0 25px;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;
  margin-bottom: 50px;
}

.item-product {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.item-product__image {
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.3s;
}

.item-product__image:hover {
  transform: scale(1.03);
}

.item-product__image img {
  max-width: 100%;
  flex: 0 0 100%;
}

.item-product__image:not(:last-child) {
  margin-bottom: 15px;
}

.item-product__body {
  display: flex;
  flex-grow: 1;
}
.item-product__content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.item-product__title {
  flex-grow: 1;
  color: #2a2f2f;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.56;
  letter-spacing: -0.715px;
}

.item-product__title:not(:last-child) {
  margin-bottom: 5px;
}

.item-product__title:hover {
  color: #676e6e;
}

.item-product__text {
  color: #7f7f7f;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 2.08;
  letter-spacing: -0.536px;
}

.item-product__link {
  align-self: flex-start;
  min-height: 10px;

  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 18px;
  background: url("../img/09-image.svg") center no-repeat;
  transition: all 0.3s;
}

.item-product__link:hover {
  transform: scale(1.2);
}

/* ===================================================================== */
.section-wishlist {
  max-width: 980px;
  margin: 0 auto;
  padding: 15px 0;
  margin-bottom: 150px;
}
.section-wishlist__text {
  color: #3c4242;
  font-family: "Core-Sans-C", sans-serif;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.19;
  letter-spacing: 0.56px;
  margin-bottom: 50px;
}

.section-wishlist__object {
  margin-bottom: 30px;
}

.object-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.object-item__icon {
  flex: 0 1 36px;
  margin-right: 36px;
}

.object-item__image {
  margin-right: 36px;
}
.object-item__about {
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: 410px;
}

.about__title,
.about__color,
.about__color-mod,
.about__quantity,
.about__quantity-mod,
.object-item__price {
  color: #3c4242;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.44px;
}

.about__title,
.about__color {
  margin-bottom: 12px;
}

.about__color-mod,
.about__quantity-mod {
  color: #807d7e;
  font-weight: 400;
}

.object-item__price {
  color: #807d7e;
  flex: 0 0 50px;
  margin-right: 50px;
  flex-shrink: 0;
}

.object-item-button-violet {
  max-width: 143px;
  width: 100%;
  max-height: 50px;
  padding: 28px 14px;

  display: flex;
  flex: 0 0 143px;
}

.object {
  padding: 30px 0;
  border-bottom: 1px solid #EDEEF2;
}

/* ===================================================================== */
.section-orders {
  max-width: 940px;
  margin: 0 auto;
  margin-bottom: 150px;
}

.order-info {
  border-radius: 8px;
  background: #f6f6f6;
  padding: 28px 47px 28px 47px;
  margin-bottom: 33px;
}
.order-item {
  display: flex;
  justify-content: space-between;
}
.order-item-left {
  display: flex;
  flex-direction: column;
}
.order-title {
  color: #3c4242;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 14px;
}
.order-date,
.order-delivery,
.order-status,
.order-payment {
  color: #807d7e;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 7px;
}

.order-delivery,
.order-payment {
  margin-bottom: 0;
}

.order-time,
.order-delivery-time,
.order-status-now,
.order-payment-value {
  color: #bebcbd;
  font-weight: 400;
}

.order-item {
  align-items: flex-end;
}

.order-product {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-between;
  gap: 20px;
}
.order-product-left {
  display: flex;
  flex-grow: 1;

}

.order-product-left-one {
  margin-right: 25px;
}

.order-product-image img {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 96px;
  max-height: 96px;
}

.order-product-left-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 0;
	flex-shrink: 1;
  flex-basis: 650px;
}

.order-product-title,
.order-product-color,
.order-product-qty,
.order-product-total {
  color: #3c4242;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.order-product-color {
  font-size: 14px;
}
.order-product-color-now,
.order-product-qty-now {
  color: #bebcbd;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.order-product-total {
  color: #807d7e;
}

.order-product-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-product-violet {
  max-width: 144px;
  width: 100%;
  max-height: 50px;
  border-radius: 8px;
  background: #8a33fd;
  border: 1px solid #8a33fd;
  color: #fff;

  display: flex;
  flex: 0 0 144px;
  align-self: flex-start;
  justify-content: center;

  padding: 14px 28px;
  align-items: center;
}

.order-product-violet:hover {
  color: #8a33fd;
  background: #fff;
  border: 1px solid #8a33fd;
  text-align: center;
}

.order-product-line {
  width: 100%;
  height: 100%;
}

.order-product-line {
  margin-bottom: 30px;
}

.order-product-line img:last-child {
  margin-bottom: 0px;
}

footer {
  background: #8a33fd;
  text-align: center;
  padding: 20px;
}
