@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.25rem;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

body {
  color: black;
  background: rgb(80, 201, 198);
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(80, 201, 198)), color-stop(42%, rgba(221, 209, 28, 0.3678658964)), to(rgb(27, 153, 218)));
  background: linear-gradient(180deg, rgb(80, 201, 198) 0%, rgba(221, 209, 28, 0.3678658964) 42%, rgb(27, 153, 218) 100%);
  font-size: 1.25rem;
}

header,
footer,
.hero {
  font-size: 1rem;
  max-width: 78.125rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
header:not(:last-child),
footer:not(:last-child),
.hero:not(:last-child) {
  margin-bottom: 24px;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.hero__text {
  color: yellow;
}
.hero:hover {
  text-decoration: underline;
}