@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: "Causten-Regular";
  src: url("fonts/Causten-Regular.woff2") format("woff2"), url("fonts/Causten-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Causten-Regular";
  src: url("fonts/Causten-Bold.woff2") format("woff2"), url("fonts/Causten-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Core-Sans-C";
  src: url("fonts/CoreSansC-55Medium.woff2") format("woff2"), url("fonts/CoreSansC-55Medium.woff") format("woff");
  font-display: swap;
  font-weight: 550;
  font-style: normal;
}
.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header,
.footer {
  padding: 25px;
  margin: 0 auto;
}

.brands__container {
  max-width: 1263px;
  padding-top: 40px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  background-color: #323232;
  border-radius: 12px;
  margin-bottom: 100px;
}
.brands__title {
  color: #FFF;
  text-align: center;
  font-family: "Core-Sans-C";
  font-size: 50px;
  font-weight: 800;
  line-height: normal;
}
.brands__title:not(:last-child) {
  margin-bottom: 26px;
}
.brands__subtitle {
  color: #FFF;
  text-align: center;
  font-family: "Causten-Regular";
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}
.brands__subtitle:not(:last-child) {
  margin-bottom: 67px;
}
.brands__subtitle--color {
  color: #FBD103;
  font-weight: 700;
}
.brands__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
  row-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.brands__item {
  background-color: #FFF;
  border-radius: 12px;
}
.brands__item:nth-child(1) {
  padding: 18px 12px 14px 16px;
}
.brands__item:nth-child(2) {
  padding: 8px 27px;
}
.brands__item:nth-child(3) {
  padding: 17px 32px 13px 34px;
}
.brands__item:nth-child(4) {
  padding: 17px 15px 19px 14px;
}
.brands__item:nth-child(5) {
  padding: 13px 31px 16px 34px;
}
.brands__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.brands__image:nth-child(1) {
  aspect-ratio: 149/53;
}
.brands__image:nth-child(2) {
  aspect-ratio: 122/68;
}
.brands__image:nth-child(3) {
  aspect-ratio: 111/55;
}
.brands__image:nth-child(4) {
  aspect-ratio: 149/49;
}
.brands__image:nth-child(4) {
  aspect-ratio: 112/57;
}

.shop__container {
  max-width: 1268px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.shop__title {
  color: #3C4242;
  font-family: "Core-Sans-C";
  font-size: 34px;
  font-weight: 550;
  line-height: 0.98;
  letter-spacing: 0.68px;
}
.shop__title::before {
  content: "";
  border-radius: 10px;
  background: #8A33FD;
  width: 6px;
  height: 30px;
  margin-right: 20px;
  vertical-align: middle;
}
.shop__title:not(:last-child) {
  margin-bottom: 70px;
}
.shop__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  row-gap: 20px;
}
.shop__item {
  display: grid;
}

.item-shop {
  position: relative;
}
.item-shop__link-image {
  display: block;
}
.item-shop__link-image:not(:last-child) {
  margin-bottom: 30px;
}
.item-shop__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 282/370;
  border-radius: 12px;
}
.item-shop__favorite {
  position: absolute;
  top: 26px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  background: #FFF url("../img/10-image.svg") center/14px no-repeat;
}
.item-shop__favorite:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.item-shop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.item-shop__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.item-shop__title {
  color: #3C4242;
  font-family: "Causten-Regular";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.item-shop__title:not(:last-child) {
  margin-bottom: 5px;
}
.item-shop__title:hover {
  text-decoration: underline;
}
.item-shop__subtitle {
  color: #807D7E;
  font-family: "Causten-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.item-shop__price {
  color: #3C4242;
  text-align: center;
  font-family: "Causten-Regular";
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  border-radius: 8px;
  background: #F6F6F6;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 82px;
      flex-basis: 82px;
  padding: 10px 16px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  min-height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-shop__price:hover {
  text-decoration: underline;
}