@import url("fonts.css");
@import url("reset.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
}

.wrapper > main {
  flex-grow: 1;
}


.section-twice {
}
.twice {
}
.twice__container {
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  margin-bottom: 100px;
}
.twice__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

.twice__item {

}

.item-twice {
  position: relative;
}

.item-twice__link-image {
  display: block;
}
.item-twice__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 604 / 355;
  border-radius: 12px;
  object-position: right;

}

.item-twice__body {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 28px;
}
.item-twice__subtitle {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 800;
  line-height: 1.67;
  letter-spacing: 0.251px;
  margin-top: 67px;
}

.item-twice__subtitle:not(:last-child) {
  margin-bottom: 24px;
}
.item-twice__title {
  color: #FFF;
  font-family: 'Core-Sans-C';
  font-size: 34px;
  font-weight: 800;
  line-height: 1.32;
  max-width: 264px;
}

.item-twice__title:not(:last-child) {
  margin-bottom: 9px;
}

.item-twice__discount {
  color: #FFF;
  font-family: 'Core-Sans-C';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.56; /* 156.598% */
  letter-spacing: 0.251px;
}

.item-twice__discount:not(:last-child) {
  margin-bottom: 41px;
}

.item-twice__link-button {
  color: #FFF;
  font-family: 'Core-Sans-C';
  font-size: 20px;
  font-weight: 550;
  line-height: 1.5;
  text-decoration-line: underline;
}

@media (any-hover: hover) {
  .item-twice__link-button:hover {
    text-decoration-line:none;
  }
}

@media (max-width: 1199.98px) {
  .twice__items {
    gap: 1px;
  }

  .item-twice__discount:not(:last-child) {
    margin-bottom: 1px;
  }

  .item-twice__subtitle {
    margin-top: 17px;
  }

  .item-twice__subtitle:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media (max-width: 991.98px) {
  .item-twice__title {
    font-size: 26px;
  }

  .item-twice__subtitle:not(:last-child) {
    margin-bottom: 8px;
  }
}

/* ================================================================================================ */

.section-arrival {
  margin-bottom: 100px;
}
.arrival {
}
.arrival__container {
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.arrival__title,
.zone__title {
  color: #3C4242;
  font-family: 'Core-Sans-C';
  font-size: 34px;
  font-weight: 550;
  line-height: 0.98;
  letter-spacing: 0.68px;
  margin-left: -20px;
}

.arrival__title::before,
.zone__title::before {
  content: '';
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: #8A33FD;
  vertical-align: center;
  margin-right: 20px;
}

.arrival__title:not(:last-child),
.zone__title:not(:last-child){
  margin-bottom: 70px;
}

.arrival__items {
  display: grid;
  column-gap: 38px;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
}

.item-arrival {
  position: relative;
  display: grid;
  gap: 38px;
}
.item-arrival__link-image {
  display: block;
}

.item-arrival__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 262 / 262;
  border-radius: 12px;
  transition: all 0.5s ease;
}

@media (any-hover: hover) {
  .item-arrival__image:hover {
    transform: scale(1.05);
  }
}

/* .item-arrival__image:not(:last-child) {
  margin-bottom: 70px;
} */

.item-arrival__body {
  display: grid;
  gap: 10px;
}

@media (any-hover: hover) {
  .item-arrival__link-title:hover {
    text-decoration: underline;
  }
}
.item-arrival__title {
  color: #3C4242;
  font-family: 'Causten-Regular';
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2px;
}

/* .navigation-arrival__button {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.navigation-arrival__button--left {
	bottom: 10px;
  left: 80px;
}

.navigation-arrival__button--right {
	right: 0;
} */

/* ================================================================================================ */

.section-zone {

}

.zone {
}

.zone__container {
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.zone__title {
}
.zone__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}


.zone__item {
  
}
.item-zone {
  position: relative;

}

.item-zone__link-image {
  display: block;
}
.item-zone__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 400 / 393;
  border-radius: 12px;
}

.item-zone__body-main {
  display: flex;
  text-align: center;
  justify-content: center;
  justify-content: flex-end;
}
.item-zone__body {
  position: absolute;
  top: 0;
  left: 0;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-end; */
}


.item-zone__link-button-limited {
  display: flex;
  max-width: 104px;
  height: 34px;
  padding: 16px 8px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #3C4242;
  color: #FFF;
  text-align: center;
  font-family: 'Causten-Regular';
  font-size: 12px;
  font-weight: 700;
  line-height: normal;
  
}

.item-zone__body-right a:first-of-type {
	margin-left: 42px;
  margin-top: 28px;
  margin-bottom: 28px;
}

.item-zone__title {
  color: #FFF;
  font-family: 'Core-Sans-C';
  font-size: 28px;
  font-style: normal;
  font-weight: 550;
  line-height: 1.37;
  letter-spacing: 0.56px;
  max-width: 134px;
  margin-top: 64px;
  margin-left: 20px;
}

.item-zone__title:not(:last-child),
.item-zone__subtitle:not(:last-child) {
  margin-bottom: 9px;
}

.item-zone__subtitle {
  color: #FFF;
  font-family: 'Causten-Regular';
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
}

.item-zone__discount {
  color: #FFF;
  font-family: 'Causten-Regular';
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  margin-left: 20px;
}

.item-zone__discount:not(:last-child) {
  margin-bottom: 30px;
}

.item-zone__arrow {
  display: inline-block;
  width: 24px;
  height: 21px;
}

.item-zone__body img {
  margin-left: 65px;
}

.item-zone__arrow:not(:last-child) {
  margin-bottom: 40px;
}

.item-zone__link-button {
  display: flex;
  width: 111px;
  height: 34px;
  padding: 16px 8px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  margin-left: 20px;
  color: #FFF;
  border-radius: 4px;
  border: 1px solid #FFF;
}