@import url("fonts.css");
@import url("reset.css");

.wrapper {
	overflow: clip;
	min-height: 100%;
}

.wrapper > main {
  flex-grow: 1;
}

.twice__container {
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.twice__items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 30px;
}

.item-twice {
  position: relative;
}

.item-twice__link-image {
  display: block;
}

.item-twice__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 604 / 355;
  border-radius: 12px;
  object-position: right;
}

.item-twice__body {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 28px;
}

.item-twice__subtitle {
  color: #FFF;
  font-family: 'Montserrat';
  font-size: 18px;
  font-weight: 800;
  line-height: 1.67;
  letter-spacing: 0.251px;
  margin-top: 67px;
}

.item-twice__subtitle:not(:last-child) {
  margin-bottom: 24px;
}
.item-twice__title {
  color: #FFF;
  font-family: 'Core-Sans-C';
  font-size: 34px;
  font-weight: 800;
  line-height: 1.32;
  max-width: 264px;
}

.item-twice__title:not(:last-child) {
  margin-bottom: 9px;
}

.item-twice__discount {
  color: #FFF;
  font-family: 'Core-Sans-C';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.56;
  letter-spacing: 0.251px;
}

.item-twice__discount:not(:last-child) {
  margin-bottom: 41px;
}

.item-twice__link-button {
  color: #FFF;
  font-family: 'Core-Sans-C';
  font-size: 20px;
  font-weight: 550;
  line-height: 1.5;
  text-decoration-line: underline;
}

@media (any-hover: hover) {
  .item-twice__link-button:hover {
    text-decoration-line:none;
  }
}

@media (max-width: 1199.98px) {
  .twice__items {
    gap: 1px;
  }

  .item-twice__discount:not(:last-child) {
    margin-bottom: 1px;
  }

  .item-twice__subtitle {
    margin-top: 17px;
  }

  .item-twice__subtitle:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media (max-width: 991.98px) {
  .item-twice__title {
    font-size: 26px;
  }

  .item-twice__subtitle:not(:last-child) {
    margin-bottom: 8px;
  }
}

/* ================================================================================================ */

.section-arrival {
  margin-bottom: 100px;
}

.arrival__container {
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.arrival__title,
.zone__title {
  color: #3C4242;
  font-family: 'Core-Sans-C';
  font-size: 34px;
  font-weight: 550;
  line-height: 0.98;
  letter-spacing: 0.68px;
  margin-left: -20px;
}

.arrival__title::before,
.zone__title::before {
  content: '';
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background: #8A33FD;
  margin-right: 20px;
}

.arrival__title:not(:last-child),
.zone__title:not(:last-child){
  margin-bottom: 70px;
}

.arrival__items {
  display: grid;
  column-gap: 38px;
  row-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(262px, 1fr));
}

.item-arrival {
  position: relative;
  display: grid;
  gap: 38px;
}
.item-arrival__link-image {
  display: block;
}

.item-arrival__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 262 / 262;
  border-radius: 12px;
  transition: all 0.5s ease;
}

@media (any-hover: hover) {
  .item-arrival__image:hover {
    transform: scale(1.05);
  }
}

.item-arrival__body {
  display: grid;
  gap: 10px;
}

@media (any-hover: hover) {
  .item-arrival__link-title:hover {
    text-decoration: underline;
  }
}
.item-arrival__title {
  color: #3C4242;
  font-family: 'Causten-Regular';
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.2px;
}

/* ================================================================================================ */

.zone__container {
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.zone__items {
  display: grid;
  grid-template-columns: repeat(6, minmax(150px, 1fr));
  gap: 20px;
}


.zone__item {
  display: grid;
}

.item-zone__link-image {
  grid-column: 1;
	grid-row: 1;
	overflow: hidden;
}

.item-zone__link-image img {
	width: 100%;
	height: 100%;
	aspect-ratio: 400 / 393;
	object-fit: cover;
	object-position: top right;
	border-radius: 12px;
	transition: transform 0.3s;
	z-index: 2;
}

.item-zone__link-image--big img {
	aspect-ratio: 610 / 393;
	object-fit: cover;
}

.item-zone__body {
  grid-column: 1;
	grid-row: 1;
	padding-left: 20px;
	align-self: center;
	justify-self: start;
	font-family: 'Causten-Regular';
	font-weight: 700;
	color: #fff;
	max-width: 180px;
	z-index: 3;
}

.zone__item:nth-child(1),
.zone__item:nth-child(2),
.zone__item:nth-child(3){
	grid-column: span 2;
}

.zone__item:nth-child(4),
.zone__item:nth-child(5) {
	grid-column: span 3;
}

.zone__item:nth-child(2) .item-zone__body,
.zone__item:nth-child(3) .item-zone__body,
.zone__item:nth-child(4) .item-zone__body,
.zone__item:nth-child(5) .item-zone__body {
	justify-self: end;
	padding: 0 20px 0 0;
	text-align: end;
}

.zone__item:nth-child(2) .item-zone__discount {
	justify-content: end;
}

.zone__item:nth-child(3) .item-zone__body,
.zone__item:nth-child(4) .item-zone__body,
.zone__item:nth-child(5) .item-zone__body {
	text-align: start;
	color: #3C4242;
}

@media(max-width:991.98px) {
	.zone__items {
		grid-template-columns: repeat(4, 1fr);
	}
	.zone__item:nth-child(1),
	.zone__item:nth-child(2),
	.zone__itemm:nth-child(3),
	.zone__item:nth-child(4),
	.zone__item:nth-child(5){
		grid-column: span 2;
	}
	.item-zone__link-image img,
	.item-zone__link-image--big img {
		object-position: top center;
		aspect-ratio: 400/393;
  }
}

@media(max-width:575.98px){
	.zone__item:nth-child(1),
	.zone__item:nth-child(2),
	.zone__item:nth-child(3),
	.zone__item:nth-child(4),
	.zone__item:nth-child(5) {
	grid-column: span 4;
	}
}

.item-zone__title {
  font-family: 'Core-Sans-C';
  font-size: 28px;
  line-height: 1.37;
  letter-spacing: 0.56px;
  text-transform: capitalize;
}

.item-zone__title:not(:last-child),
.item-zone__subtitle:not(:last-child) {
  margin-bottom: 9px;
}

.item-zone__subtitle {
  font-family: 'Causten-Regular';
  font-size: 14px;
  justify-items: stretch;
}

.item-zone__discount {
  text-transform: uppercase;
	font-size: 18px;
	font-weight: 700;
	display: grid;
	row-gap: 30px;
	justify-content: start;
	line-height: 1.22;
}

.item-zone__discount:not(:last-child) {
  margin-bottom: 30px;
}

.item-zone__discount::after {
	content: '';
	width: 23px;
	height: 27px;
	aspect-ratio: 20/23;
	object-fit: cover;
	background: url('../img/14-image.svg') center no-repeat;
	justify-self: center;
	grid-column: 1;
	grid-row: 2;
}

.item-zone__discount--black::after {
  background: url('../img/15-image.svg') center no-repeat;
  width: 23px;
	height: 28px;
}

.btn {
  padding: 10px 24px;
	border-radius: 4px;
	font-size: 12px;
	transition: all 0.3s;
	text-align: center;
}

.btn:not(:last-child){
	margin-bottom: 28px;
}

.item-zone__link-button {
	text-transform: uppercase;	
	outline: 1px solid #FFF;
	font-weight: 500;
}

.item-zone__link-button-black {
	outline: 2px solid #3C4242;
}

.item-zone__link-button-limited {
  background-color: #3C4242;
	font-weight: 700;
	text-transform: capitalize;
  display: inline-block;
}

@media(any-hover:hover){
	.item-zone__link-button-limited:hover{
		background-color: transparent;
		outline: 1px solid #6d7575;
		color: #3C4242;
	}

	.item-zone__link-button:hover{
		background-color: #6d7575;
		outline: none;
	}

	.item-zone__link-button-black:hover{
		background-color: #6d7575;;
		color: #fff;
	}

	.item-zone__link-image:hover img{
		transform: scale(1.03);
	}
}
