@import url('fonts.css');
@import url('reset.css');

body {
  font-family: 'Inter', sans-serif;
  color: #7D7D7D;
  font-size: 18px;
}

header {
  margin-bottom: 150px;

  padding: 50px 15px;
  text-align: center;
  font-size: 30px;
  color: black;
  font-weight: 700;
}
.container {
  padding: 50px 15px 150px 15px;
	max-width: 1268px;
	margin: 0 auto;
 }

 .template-title {
  font-size: 0;
  margin-bottom: 16px;
  text-align: center;
 }

 .image {
  vertical-align:baseline;
  margin-right: 6px;
 }

 .template-text {
  display: inline-block;
  color: #37393F;
  font-weight: 500;
  line-height: normal;
  font-size: 18px;
 }

 .title,
 .sub-title,
 .heading-one,
 .heading-two {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #37393F;
 }

 .title {
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  line-height: 1.21;
  margin-bottom: 70px;
 }

 .sub-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.21;
  margin-bottom: 11px;
 }

 .text {
  font-weight: 400;
  line-height: 1.46;
 }

 .graphics-text {
  margin-bottom: 32px;
 }

 .heading-one {
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
 }

 .link {
  color: #40DDB6;
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
 }

 .block-icons,
 .block-photography {
  margin-bottom: 100px;
 }

 .text-photography,
 .color-text {
  margin-bottom: 24px;
 }

 .heading-photography {
  margin-bottom: 8px;
 }

 .color-text,
 .link-word {
  color: #40DDB6;
 }

 .block-fonts {
  margin-bottom: 150px;
 }
 .sub-title-project {
  margin-bottom: 13px;
 }
 .text-project p {
  margin-bottom: 35px;
 }

 .ul-one li {
  font-weight: 500;
  
 }

 .li-one,
 .li-two {
  padding-bottom: 35px;
 }

 .ul-one {
  margin-left: 16px;
  margin-bottom: 35px;
 }
 
 .block-clothing {
  padding: 0px 100px 50px 100px;
	max-width: 1440px;
	margin: 0 auto;
 }
 .sub-title-clothing {
  display: inline-block;
  color: #3C4242;
  font-family: 'Core-Sans-C', sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.19;
  letter-spacing: 0.56px;
  margin-bottom: 30px;
 }

  .link-clothing,
 .heading-clothing {
  color: #807D7E;
  font-family: 'Core-Sans-C', sans-serif;
  font-size: 20px;
  font-weight: 550;
  line-height: 1.67;
  letter-spacing: 0.4px;
  margin-bottom: 25px;
 }

 .text-clothing {
  color: #807D7E;
  font-family: 'Causten-Regular', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.4px;
 }
 .word-euphoria {
  font-weight: 700;
 }
 .text-clothing-woman,
 .heading-clothing-today,
 .text-clothing-collection {
  margin-bottom: 20px;
 }

 .text-clothing-our {
  margin-bottom: 25px;
 }

 .clothing-title {
  font-size: 0;
 }

 .image-violet {
  margin-right: 15px;
 }
 .text-clothing-container {
  margin-left: 21px;
 }

 /* font-family: 'Cormorant Infant', serif; */

 .block-jewelry {
  font-family: 'Cormorant Infant', serif;
  padding: 100px 246px 161px 262px;
	max-width: 2108px;
	margin: 0 auto;
  font-size: 0;
}

.jewelry-text {
  display: inline-block;
  margin-right: 75px;
}
.jewelry-sub-title {
  color: #D58417;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  max-width: 128px;
  margin-bottom: 27px;
}
.jewelry-title {
  color: #000;
  font-size: 64px;
  font-weight: 700;
  line-height: 100%;
  max-width: 503px;
  margin-bottom: 31px;
}

.jewelry-par {
  color: #606060;
  font-size: 30px;
  font-weight: 700;
  line-height: 140%;
  max-width: 489px;
}

.jewelry-image {
  vertical-align: top;
  display: inline-block;
  font-size: 0;
}

.jewels-wrapper {
  vertical-align: middle;
  display: inline-block;
  border: 1px solid #502203;
  border-radius: 235px;
}

.jewels-wrapper img {
  border-radius: 235px;
}

.jewelry-image-one {
  margin-right: 30px;
  width: 177px;
  height: 336px;
}

.jewelry-image-one img {
  margin-left: -10px;
  padding-top: 14px;
}

.jewelry-image-two {
  width: 307px;
  height: 500px;
}

.jewelry-image-two img {
  margin-left: -11px;
  padding-top: 19px;
}

.block-test {
  font-family: 'Cormorant Infant', serif;
  padding: 50px 15px 50px 15px;
	max-width: 1230px;
	margin: 0 auto;
  font-size: 40px;
}

.test-title {
  color: black;
  font-size: 50px;
  text-align: center;
  margin: 15px;
	padding: 25px;
	border: 8px solid #620202a2;
  border-bottom: 3px dashed greenyellow;
}

.test-text {
  color: #606060;
  outline: 5px solid rgb(27, 104, 181);
  margin-bottom: 20px;
}

.test-text-radius {
  color: #D58417;
  margin: 0 auto;
  border-top: 4px dotted green ;
}

.test-text-hidden {
  visibility: hidden;
}

.test-image {
  box-shadow: 10px 5px 15px green;
  margin-bottom: 50px;
}

.test-text-two {
  font-size: 18px;
  color: black;
  max-width: 350px;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  background-color: pink;
}