@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@300;400;500;700;800&family=Poppins:wght@400;500;600;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  color: inherit;
  background-color: transparent;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@font-face {
  font-family: "Causten-Regular";
  src: url("fonts/Causten-Regular.woff2") format("woff2"), url("fonts/Causten-Regular.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Causten-Regular";
  src: url("fonts/Causten-Bold.woff2") format("woff2"), url("fonts/Causten-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Core-Sans-C";
  src: url("fonts/CoreSansC-55Medium.woff2") format("woff2"), url("fonts/CoreSansC-55Medium.woff") format("woff");
  font-display: swap;
  font-weight: 550;
  font-style: normal;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 108px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.header__logo img {
  min-width: 50px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 91/45;
  position: relative;
  z-index: 5;
}
.header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  z-index: 5;
}

.icon-menu {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  row-gap: 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu__link {
  color: #807D7E;
  font-family: "Causten-Regular";
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menu__link--active {
  color: #3c4242;
  font-weight: 700;
}
.menu__link:hover {
  color: #3c4242;
  text-decoration: underline;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-preferred-size: 287px;
      flex-basis: 287px;
  position: relative;
  z-index: 5;
}
.search__input {
  width: 100%;
  padding: 12px 20px 12px 40px;
  height: 44px;
  border-radius: 8px;
  background: #F6F6F6;
  color: #807D7E;
  font-family: "Causten-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-image: url("../img/01-05-Image.svg");
  background-repeat: no-repeat;
  background-position: 12px;
  background-size: 20px;
}
.search__input::-webkit-input-placeholder {
  color: #807D7E;
}
.search__input::-moz-placeholder {
  color: #807D7E;
}
.search__input:-ms-input-placeholder {
  color: #807D7E;
}
.search__input::-ms-input-placeholder {
  color: #807D7E;
}
.search__input::placeholder {
  color: #807D7E;
}
.search__input:focus::-webkit-input-placeholder {
  color: #807D7E;
}
.search__input:focus::-moz-placeholder {
  color: #807D7E;
}
.search__input:focus:-ms-input-placeholder {
  color: #807D7E;
}
.search__input:focus::-ms-input-placeholder {
  color: #807D7E;
}
.search__input:focus::placeholder {
  color: #807D7E;
}
.search__input:focus {
  outline: 2px solid #BEBCBD;
}

.actions-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44px;
          flex: 0 0 44px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.actions-header__item:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.actions-header__item img {
  max-width: 100%;
}

@media (max-width: 1075px) {
  .header__container {
    min-height: 50px;
  }
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: #bebcbd;
    padding: 80px 15px 30px 15px;
    z-index: 3;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 54px;
    top: 0;
    left: 100%;
    z-index: 3;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
    background-color: #807D7E;
  }
  .menu-open .menu__body,
  .menu-open .menu__body::before {
    left: 0;
  }
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    row-gap: 20px;
  }
  .menu__link {
    font-size: 28px;
  }
  .icon-menu {
    width: 30px;
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    height: 18px;
    position: relative;
    z-index: 5;
  }
  .icon-menu::before {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #000;
    top: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #000;
    bottom: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .icon-menu span {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: #000;
    top: 50%;
    margin-top: -1px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .menu-open .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .menu-open .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .menu-open .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
  .menu-open body {
    overflow: hidden;
  }
}
@media (max-width: 460px) {
  .header__container {
    gap: 5px;
  }
  .header__container .header__actions {
    gap: 3px;
  }
  .search {
    -ms-flex-preferred-size: 150px;
        flex-basis: 150px;
  }
  .search__input::-webkit-input-placeholder {
    color: transparent;
  }
  .search__input::-moz-placeholder {
    color: transparent;
  }
  .search__input:-ms-input-placeholder {
    color: transparent;
  }
  .search__input::-ms-input-placeholder {
    color: transparent;
  }
  .search__input::placeholder {
    color: transparent;
  }
}
.footer {
  background-color: #3c4242;
}
.footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 10px;
  margin-top: 59px;
}

.item-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #F6F6F6;
  font-family: "Causten-Regular";
  font-style: normal;
}
.item-footer__title {
  font-size: 28px;
  line-height: 2.17;
  font-weight: 700;
}
.item-footer__title:not(:last-child) {
  margin-bottom: 15 px;
}
.item-footer__item {
  font-size: 18px;
  line-height: 2.17;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.item-footer__item:not(:last-child) {
  margin-bottom: 5 px;
}
.links-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.links-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 185px;
          flex: 0 1 185px;
}
.links-footer__social:not(:last-child) {
  margin-bottom: 79px;
}
.links-footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 10px;
  margin-top: 70px;
}
.links-footer__social-link {
  display: block;
  width: 37px;
  height: 37px;
}
.links-footer__social-link img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 37/37;
}
.links-footer__app {
  margin-right: 261px;
}

.app-link__title {
  color: #F6F6F6;
  font-family: "Causten-Regular";
  font-size: 29px;
  font-style: normal;
  font-weight: 700;
  line-height: 2.17;
}
.app-link__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 21px;
     -moz-column-gap: 21px;
          column-gap: 21px;
  row-gap: 10px;
}

.categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.categories::before {
  content: "";
  width: 100%;
  height: 1px;
  opacity: 0.4;
  background: #bebcbd;
}
.categories::after {
  content: "";
  width: 100%;
  height: 1px;
  opacity: 0.4;
  background: #bebcbd;
}
.categories__title {
  color: #f6f6f6;
  font-family: "Core-Sans-C";
  font-size: 29px;
  font-weight: 550;
  line-height: 200%;
}
.categories__action {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.categories__action-sparrow {
  margin-right: 32px;
}
.categories:not(:last-child) {
  margin-bottom: 50px;
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.copyright__title {
  color: #fff;
  font-family: "Causten-Regular";
  font-size: 18px;
  font-weight: 700;
  line-height: 200%;
  margin-bottom: 59px;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1268px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section-hero {
  position: relative;
  overflow: hidden;
  margin-bottom: 130px;
}

.hero__media img {
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 1449/716;
}
.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
.hero__container {
  margin-bottom: 100px;
}
.hero__content {
  font-family: "Core-Sans-C";
  font-weight: 550;
  color: #fff;
  padding: 129px 0px 132px 193px;
  max-width: 650px;
}
.hero__subtitle {
  color: #fff;
  font-size: 32px;
  line-height: 37.771px; /* 118.035% */
  letter-spacing: 0.157px;
  text-transform: capitalize;
}
.hero__subtitle:not(:last-child) {
  margin-bottom: 40px;
}
.hero__title {
  font-size: 78px;
  line-height: 1.2;
  letter-spacing: 0.315px;
}
.hero__title:not(:last-child) {
  margin-bottom: 40px;
}
.hero__text {
  font-size: 32px;
  line-height: 1.47;
  letter-spacing: 0.315px;
}
.hero__text:not(:last-child) {
  margin-bottom: 40px;
}
.hero__link {
  display: inline-block;
  padding: 16px 72px;
  color: #3c4242;
  border-radius: 8px;
  background-color: #fff;
  text-align: center;
  font-family: "Causten-Regular";
  font-size: 24px;
  font-weight: 700;
  line-height: normal;
}
.hero__link:hover {
  text-decoration: underline;
}

.design__container {
  margin-bottom: 100px;
}
.design__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(604px, 1fr));
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.item-design {
  position: relative;
}
.item-design__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 604/356;
  border-radius: 12px;
  -webkit-box-shadow: 0px 4px 10px lightgray;
          box-shadow: 0px 4px 10px lightgray;
}
.item-design__content {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  padding: 67px 335px 80px 32px;
}
.item-design__subtitle {
  color: #fff;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 800;
  line-height: 1.67;
  letter-spacing: 0.251px;
}
.item-design__subtitle:not(:last-child) {
  margin-bottom: 24px;
}
.item-design__title {
  color: #fff;
  font-family: "Core-Sans-C";
  font-size: 34px;
  font-weight: 800;
  line-height: 1.32;
}
.item-design__title:not(:last-child) {
  margin-bottom: 9px;
}
.item-design__discount {
  color: #fff;
  font-family: "Core-Sans-C";
  font-size: 16px;
  font-weight: 500;
  line-height: 1.56;
  letter-spacing: 0.251px;
}
.item-design__discount:not(:last-child) {
  margin-bottom: 41px;
}
.item-design__link {
  color: #fff;
  font-family: "Core-Sans-C";
  font-size: 20px;
  font-weight: 800;
  line-height: 1.5;
  text-decoration-line: underline;
}

.arrival__container {
  margin-bottom: 100px;
}
.arrival__title {
  color: #3c4242;
  font-family: "Core-Sans-C";
  font-size: 34px;
  font-weight: 550;
  line-height: 1;
  letter-spacing: 0.68px;
}
.arrival__title::before {
  content: "";
  border-radius: 10px;
  background: #8a33fd;
  width: 6px;
  height: 30px;
  margin-right: 20px;
  vertical-align: middle;
}
.arrival__title:not(:last-child) {
  margin-bottom: 70px;
}
.arrival__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
  -webkit-column-gap: 39px;
     -moz-column-gap: 39px;
          column-gap: 39px;
  row-gap: 20px;
}

.item-arrival__link-image {
  display: block;
}
.item-arrival__link-image:not(:last-child) {
  margin-bottom: 32px;
}
.item-arrival__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 263/263;
  border-radius: 12px;
}
.item-arrival__title {
  color: #2A2F2F;
  font-family: "Causten-Regular";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  line-height: 1.56;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.item-arrival__title:hover {
  text-decoration: underline;
}

.fashion__container {
  margin-bottom: 100px;
}
.fashion__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(614px, 1fr));
  row-gap: 20px;
}

.item-fashion {
  position: relative;
}
.item-fashion__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 614/640;
  border-radius: 12px;
}
.item-fashion__content {
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  padding: 183px 74px 174px 74px;
}
.item-fashion__title {
  color: #fff;
  font-family: "Core-Sans-C";
  font-size: 33px;
  font-weight: 700;
  line-height: 1.47;
  letter-spacing: 0.2px;
}
.item-fashion__title:not(:last-child) {
  margin-bottom: 30px;
}
.item-fashion__text {
  color: #fff;
  font-family: "Causten-Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
}
.item-fashion__text:not(:last-child) {
  margin-bottom: 50px;
}
.item-fashion__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 12px 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  border-radius: 8px;
  background: #fff;
  color: #3c4242;
}

.man__container {
  margin-bottom: 100px;
}
.man__title {
  color: #3c4242;
  font-family: "Core-Sans-C";
  font-size: 34px;
  font-weight: 550;
  line-height: 1;
  letter-spacing: 0.68px;
}
.man__title::before {
  content: "";
  border-radius: 10px;
  background: #8a33fd;
  width: 6px;
  height: 30px;
  margin-right: 20px;
  vertical-align: middle;
}
.man__title:not(:last-child) {
  margin-bottom: 70px;
}
.man__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 50px;
}

.item-man__link-image {
  display: block;
}
.item-man__link-image:not(:last-child) {
  margin-bottom: 15px;
}
.item-man__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 270/393;
  border-radius: 10px;
}
.item-man__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.item-man__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 185px;
      flex-basis: 185px;
}
.item-man__title {
  color: #2A2F2F;
  font-family: "Causten-Regular";
  font-size: 18px;
  font-weight: 700;
  line-height: normal;
  line-height: 1.56;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.item-man__title:not(:last-child) {
  margin-bottom: 4px;
}
.item-man__title:hover {
  text-decoration: underline;
}
.item-man__subtitle {
  color: #7F7F7F;
  font-family: "Causten-Regular";
  font-size: 13px;
  font-weight: 700;
  line-height: 2.08;
}
.item-man__arrow {
  width: 18px;
  height: 14px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.item-man__arrow:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.brands__container {
  max-width: 1263px;
  padding-top: 40px;
  padding-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  background-color: #323232;
  border-radius: 12px;
  margin-bottom: 100px;
}
.brands__title {
  color: #fff;
  text-align: center;
  font-family: "Core-Sans-C";
  font-size: 50px;
  font-weight: 800;
  line-height: normal;
}
.brands__title:not(:last-child) {
  margin-bottom: 26px;
}
.brands__subtitle {
  color: #fff;
  text-align: center;
  font-family: "Causten-Regular";
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
}
.brands__subtitle:not(:last-child) {
  margin-bottom: 67px;
}
.brands__subtitle-color {
  color: #fbd103;
  font-weight: 700;
}
.brands__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 26px;
     -moz-column-gap: 26px;
          column-gap: 26px;
  row-gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.brands__item {
  background-color: #fff;
  border-radius: 12px;
}
.brands__item:nth-child(1) {
  padding: 18px 12px 14px 16px;
}
.brands__item:nth-child(2) {
  padding: 8px 27px;
}
.brands__item:nth-child(3) {
  padding: 17px 32px 13px 34px;
}
.brands__item:nth-child(4) {
  padding: 17px 15px 19px 14px;
}
.brands__item:nth-child(5) {
  padding: 13px 31px 16px 34px;
}
.brands__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.brands__image:nth-child(1) {
  aspect-ratio: 149/53;
}
.brands__image:nth-child(2) {
  aspect-ratio: 122/68;
}
.brands__image:nth-child(3) {
  aspect-ratio: 111/55;
}
.brands__image:nth-child(4) {
  aspect-ratio: 149/49;
}
.brands__image:nth-child(4) {
  aspect-ratio: 112/57;
}

.women__container {
  margin-bottom: 100px;
}
.women__title {
  color: #3c4242;
  font-family: "Core-Sans-C";
  font-size: 34px;
  font-weight: 550;
  line-height: 1;
  letter-spacing: 0.68px;
}
.women__title::before {
  content: "";
  border-radius: 10px;
  background: #8a33fd;
  width: 6px;
  height: 30px;
  margin-right: 20px;
  vertical-align: middle;
}
.women__title:not(:last-child) {
  margin-bottom: 70px;
}
.women__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  row-gap: 20px;
}

.item-women__link-image {
  display: block;
}
.item-women__link-image:not(:last-child) {
  margin-bottom: 15px;
}
.item-women__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 270/393;
  border-radius: 10px;
}
.item-women__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.item-women__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 185px;
      flex-basis: 185px;
}
.item-women__title {
  color: #191919;
  font-family: "Poppins";
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
  line-height: 1.56;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.item-women__title:not(:last-child) {
  margin-bottom: 4px;
}
.item-women__title:hover {
  text-decoration: underline;
}
.item-women__subtitle {
  color: #7F7F7F;
  font-family: "Poppins";
  font-size: 13px;
  font-weight: 500;
  line-height: 2.08;
}
.item-women__arrow {
  width: 18px;
  height: 14px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.item-women__arrow:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.shop__container {
  margin-bottom: 100px;
}
.shop__title {
  color: #3c4242;
  font-family: "Core-Sans-C";
  font-size: 34px;
  font-weight: 550;
  line-height: 1;
  letter-spacing: 0.68px;
}
.shop__title::before {
  content: "";
  border-radius: 10px;
  background: #8a33fd;
  width: 6px;
  height: 30px;
  margin-right: 20px;
  vertical-align: middle;
}
.shop__title:not(:last-child) {
  margin-bottom: 70px;
}
.shop__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
  row-gap: 20px;
}

.item-shop {
  position: relative;
}
.item-shop__link-image {
  display: block;
}
.item-shop__link-image:not(:last-child) {
  margin-bottom: 30px;
}
.item-shop__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 282/370;
  border-radius: 12px;
}
.item-shop__favorite {
  position: absolute;
  top: 26px;
  right: 20px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  background: #fff url("../img/10-05-Image.svg") center/14px no-repeat;
}
.item-shop__favorite:hover {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
.item-shop__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.item-shop__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.item-shop__title {
  color: #3c4242;
  font-family: "Causten-Regular";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.item-shop__title:not(:last-child) {
  margin-bottom: 5px;
}
.item-shop__title:hover {
  text-decoration: underline;
}
.item-shop__subtitle {
  color: #807d7e;
  font-family: "Causten-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
.item-shop__price {
  color: #3c4242;
  text-align: center;
  font-family: "Causten-Regular";
  font-size: 14px;
  font-weight: 700;
  line-height: normal;
  border-radius: 8px;
  background: #f6f6f6;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 82px;
      flex-basis: 82px;
  padding: 10px 16px;
  -ms-flex-item-align: start;
      align-self: flex-start;
  min-height: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-shop__price:hover {
  text-decoration: underline;
}

.feedback__container {
  margin-bottom: 100px;
}
.feedback__title {
  color: #3c4242;
  font-family: "Core-Sans-C";
  font-size: 34px;
  font-weight: 550;
  line-height: 1;
  letter-spacing: 0.68px;
}
.feedback__title::before {
  content: "";
  border-radius: 10px;
  background: #8a33fd;
  width: 6px;
  height: 30px;
  margin-right: 20px;
  vertical-align: middle;
}
.feedback__title:not(:last-child) {
  margin-bottom: 70px;
}
.feedback__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(397px, 1fr));
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
  row-gap: 20px;
}
.feedback__items:not(:last-child) {
  margin-bottom: 13px;
}
.feedback__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 4px;
}

.item-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 10px;
  border: 1.8px solid #BEBCBD;
  background: #fff;
  padding: 23px;
}
.item-feedback__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.item-feedback__link-image {
  display: block;
}
.item-feedback__link-image:not(:last-child) {
  margin-bottom: 20px;
}
.item-feedback__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 58/58;
}
.item-feedback__raiting {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.item-feedback__link-star {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 23/23;
}
.item-feedback__link-star-half {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 23/23;
}
.item-feedback__link-star-zero {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 23/23;
}
.item-feedback__title {
  color: #3c4242;
  font-family: "Core-Sans-C";
  font-size: 22px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.44px;
}
.item-feedback__title:not(:last-child) {
  margin-bottom: 20px;
}
.item-feedback__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #807d7e;
  font-family: "Causten-Regular";
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 1;
      flex-shrink: 1;
}

@media (max-width: 991.98px) {
  .hero__container {
    margin-bottom: 50px;
  }
  .hero__content {
    padding: 29px 0px 32px 93px;
  }
  .item-fashion__content {
    padding: 23px 14px 24px 24px;
  }
  .item-fashion__title {
    font-size: 28px;
    line-height: 1.1;
    letter-spacing: 0.1px;
  }
  .item-fashion__title:not(:last-child) {
    margin-bottom: 20px;
  }
  .item-fashion__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-size: 18px;
  }
  .item-fashion__text:not(:last-child) {
    margin-bottom: 25px;
  }
}
@media (max-width: 767.98px) {
  .hero__content {
    padding: 19px 0px 22px 13px;
  }
  .item-fashion__items {
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}