@import url("fonts.css");
@import url("reset.css");

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

.header__title
.mainMenu,
.headline,
.exercise,
.sectionWhy__text_color,
.benefits__text {
  font-family: 'Poppins', sans-serif;
  color: black;
}

.header__title {
  font-size: 40px;
  margin-bottom: 30px;
  padding: 25px;
}

.mainMenu {
  font-size: 20px;
  padding: 30px;
}

.headline {
  color: #37393F;
  font-weight: 600;
  line-height: 1.27
}

.first {
  max-width: 700px;
	margin: 0 auto;
	margin-bottom: 30px;
}

.exercise {
  font-size: 35px;
  margin-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
}

.sectionWhy {
  margin-bottom: 42px;
}
.sectionWhy__headline {
  font-size: 30px;
  margin-bottom: 3px;
} 

.sectionWhy__text {
  color: #7D7D7D;
  font-size: 18px;
  line-height: 146.187%;
}

.sectionWhy__picture{
  margin-bottom: 37px;
}

.sectionWhy__text_subtitle {
  margin-bottom: 42px;
}

.sectionWhy__text_color {
  color: #6B77E5;
  font-size: 20px;
  font-weight: 600;
  line-height: 127%;
  margin-bottom: 3px;
}

.benefits__headline {
  font-size: 25px;
  margin-bottom: 15px;
}

.benefits-picture {
  max-width: 50%;
}

.benefits {
  font-size: 0px;
}

.benefits__title {
  max-width: 50%;
	display: inline-block;
  padding-left: 30px;
}

.benefits__text {
  color: #40DDB6;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.27;
  margin-bottom: 21px;
  
}
.benefits__textList {
  color: #7D7D7D;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.benefits__item_one,
.benefits__item_two {
  margin-bottom: 25px;
}

.jewels {
	max-width: 1170px;
	margin: 30px auto;
}

.jewels__text {
  max-width: 50%;
	display: inline-block;
}

.jewels__title {
  color: #D06B00;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 13px;
}

.jewels__headline {
  color: #0E333D;
  font-family: 'DM Serif Text', serif;
  font-size: 59px;
  font-weight: 400;
  line-height: 146.5%;
  margin-bottom: 25px;
}

.jewels__image {
  display: inline-block;
  vertical-align: top;
  font-size: 0px;
  margin-bottom: 30px;
}

.jewels__subtitle {
  color: #474747;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.8;
  max-width: 563px;
  height: 232px;
}

.jewels__image_one {
  margin-right: 22px;
}

.third {
  margin-bottom: 100px;
}

.third__wrapper {
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin-left: 25px;
  font-size: 20px;
  text-align: justify;
}

.third__text-one {
  overflow: scroll;
  height: 100px;
  max-width: 450px;
  color: #D06B00;
  vertical-align: top;
  margin-right: 25px;
}

.third__text-two {
  max-width: 550px;
  overflow: auto;
  color: cadetblue;
  height: 200px;
}

.fourth {
  margin-bottom: 25px;
  font-size: 0;
  margin-left: 25px;
  font-size: 20px;
  margin-right: 25px;
  text-align: justify;
}

.fourth__title_one {
  display: inline-block;
  max-width: 300px;
  background-color: violet;
}

.fourth__title_two {
  display: inline-block;
  max-width: 300px;
  background-color: yellowgreen;
}

.fourth__title_three {
  display: inline-block;
  max-width: 300px;
  background-color: pink;
}

.footerBlock {
  font-size: 35px;
  text-align: center;
  margin-bottom: 100px;
  color: rgba(0, 128, 0, 0.221);
  height: 100px;
} 
