$mainColor: #323232;
$secondColor: #fbd103;
$thirdColor: #3c4242;
$baseColor: #fff;
$colorSize: #191919;
$colorLightgray: #7F7F7F;
$colorSizeman: #2A2F2F;
$colorBorder: #BEBCBD;
$colorNav: #807D7E;
$colorSearch: #F6F6F6;
$colorSearchtitle: #807D7E;
$colorMobilemenu: #bebcbd;
$colorMobileheader: #9e989ad7;