.header {
  // .header__info
  &__info {
    background: $headerBackColor;
    margin-bottom: toRem(33);
    position: relative;
    z-index: 2;
  }

  // .header__body
  &__body {
  }
}

.info-header {
  // .info-header__container
  &__container {
    min-height: toRem(60);

    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    flex-wrap: wrap;

    position: relative;
    z-index: 2;

    @media (max-width: 997px) {
      flex-direction: column;
      justify-content: center;
      align-content: center;
      row-gap: 10px;

      min-height: toRem(75);
    }
    @media (max-width: 511px) {
      min-height: toRem(100);
    }

    @media (max-width: 413px) {
      min-height: toRem(120);
    }
  }

  // .info-header__column
  &__column {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: toRem(45);
    row-gap: toRem(10);

    color: $fontsColor;
    font-family: "Inter";
    font-size: toRem(14);
    font-weight: 400;
    line-height: normal;
  }

  // .info-header__address
  &__address {
    flex-shrink: 0;
    > a {
      display: flex;
      align-items: center;
      &::before {
        content: "";
        background: url("../img/01-01-Image.svg");
        background-repeat: no-repeat;
        flex: 0 1 toRem(17);
        width: toRem(17);
        height: toRem(25);
        margin-right: toRem(10);
      }
      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
  // .info-header__mail
  &__mail {
    flex-shrink: 0;
    > a {
      display: flex;
      align-items: center;
      &::before {
        content: "";
        background: url("../img/01-02-Image.svg");
        background-repeat: no-repeat;
        flex: 0 1 toRem(23);
        width: toRem(23);
        height: toRem(20);
        margin-right: toRem(10);
      }
      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  // .info-header__time
  &__time {
    display: flex;
    align-items: center;
    flex-shrink: 0;

    &::before {
      content: "";
      background: url("../img/01-03-Image.svg");
      background-repeat: no-repeat;
      flex: 0 1 toRem(17);
      width: toRem(17);
      height: toRem(17);
      margin-right: toRem(10);
    }
  }

  // .info-header__social
  &__social {
    display: flex;
    column-gap: 16px;
  }

  // .info-header__social-link
  &__social-link {
    transition: transform 0.3s ease;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.2);
      }
    }
  }

  // .info-header__social-icon
  &__social-icon {
  }
}

.body-header {
  // .body-header__container
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: toRem(10);
    padding: toRem(5);
  }

  // .body-header__link
  &__link {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 2;
  }

  // .body-header__icon
  &__icon {
    color: $headerBackColor;
    font-family: "Poppins";
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    position: relative;
    z-index: 2;
  }

  // .body-header__icon--violet
  &__icon--violet {
    color: $buttonColor;
  }

  // .body-header__menu
  &__menu {

  }
}

.menu {

}

.menu-body {
  @media (max-width: 997px) {
    position: fixed;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    left: -100%;
    transition: left 0.3s;
    padding: 200px 15px 30px 15px;
    background-color: lightgray;

    &::before {
      content: '';
      position: fixed;
      width: 100%;
      height: 150px; // виправити
      top: 0;
      left: 0;
      z-index: 2;
      background-color: $fontsColor;
    }
  }
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: toRem(40);
  row-gap: toRem(5);

  @media (max-width: 997px) {
    flex-direction: column;
    align-items: flex-end;

    row-gap: toRem(15);
  }
}

.menu-item {


}

.menu-link {
  color: $headerBackColor;
  text-align: center;
  font-family: 'Inter';
  font-size: toRem(18);
  font-weight: 400;
  line-height: normal;

  @media (any-hover: hover) {
    &:hover {
      text-decoration: underline;
      color: $buttonColor;
    }
  }

  @media (max-width: 997px) {
    font-size: toRem(20);
  }
}

.menu-item-sub {
  display: flex;
  align-items: center;
  position: relative;

  &::after {
    content: '';
    background: url(../img/01-09-Image.svg);
    background-repeat: no-repeat;
    flex: 0 0 20px;
    height: 20px;
    width: 20px;
    background-size: cover;
  }

  &:hover {
    .sub-menu {
      opacity: 1;
      transform: translate(0px, 0px);
      visibility: visible;
      pointer-events: all;
    }
  }

  @media (max-width: 997px) {
    flex-direction: column;

    &::after {
      display: none;
    }
  }
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 5px;
  transform: translate(0px, 10%);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  pointer-events: none;

  @media (max-width: 997px) {
    position: relative;
    visibility: visible;
    opacity: 1;
    transform: translate(0px, 0px);
    padding-top: 10px;
  }

  // .sub-menu__list

  &__list {
    width: 130px;
    border-radius: 15px;
    padding: 15px;
    background-color: $headerBackColor;

    @media (max-width: 997px) {
      width: 100%;
      border-radius: 5px;
    }
  }

  // .sub-menu__item

  &__item {
  }

  &__link {
    color: $fontsColor;
    font-size: toRem(18);

    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


.menu-item-button {
  display: flex;
  padding: toRem(21) toRem(35) toRem(22) toRem(35);
  justify-content: center;
  align-items: center;
  gap: toRem(10);
  flex-shrink: 0;

  background: $buttonColor;
  color: $fontsColor;
  text-align: center;
  font-family: 'Cabin';
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;

  @media (any-hover: hover) {
    &:hover {
      text-decoration: underline;
      color: $fontsColor;
    }
  }
}

.icon-menu {
  display: none;
  width: 30px;
  flex: 0 0 30px;
  height: 18px;
  position: relative;
  z-index: 2;

  &::before {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: black;
    top: 0;
    transition: all 0.3s;
  }

  &::after {
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    left: 0;
    background-color: black;
    bottom: 0;
    transition: all 0.3s;
  }

  span {
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    top: 50%;
    margin-top: -1px;
    background-color: black;
    transition: all 0.3s;
  }


  @media (max-width: 997px) {
    display: block;
  }
}

  .menu-open {
    @media (max-width: 997px) {
    .menu-body {
      left: 0;
    }

    .icon-menu {
      span {
        transform: scale(0);
      }
      &::before {
        transform: rotate(-45deg);
        top: 50%;
        margin-top: -1px;
      }
      &::after {
        transform: rotate(45deg);
        bottom: 50%;
        margin-bottom: -1px;
      }
    }
  }
}
