.header {
  // .header__info
  &__info {
    background: $headerBackColor;
  }

  // .header__body
  &__body {
  }
}
.info-header {
  // .info-header__container
  &__container {
    min-height: toRem(60);

    display: flex;
    justify-content: space-between;
  }

  // .info-header__column
  &__column {
    display: flex;
    align-items: center;
    column-gap: toRem(45);
  }

  // .info-header__address
  &__address {
    > a {
      display: flex;
      align-items: center;
      &::before {
        content: '';
        background: url("../img/01-01-Image.svg");
        background-repeat: no-repeat;
        flex: 0 1 toRem(17);
        width: toRem(17);
        height: toRem(25);
        margin-right: 10px;
      }
    }
    // .info-header__address-link
    &__address-link {
    }

    &__address-icon {
    }

    // .info-header__mail
    &__mail {
      > a {
        display: flex;
        align-items: center;
        &::before {
          content: "";
          background: url("../img/01-02-Image.svg");
          background-repeat: no-repeat;
          flex: 0 1 toRem(23);
          width: toRem(23);
          height: toRem(20);
          margin-right: 10px;
        }
        @media (any-hover: hover) {
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    // .info-header__mail-link
    &__mail-link {
    }

    // .info-header__time
    &__time {
      display: flex;
      align-items: center;

      &::before {
        content: "";
        background: url("../img/01-03-Image.svg");
        background-repeat: no-repeat;
        flex: 0 1 toRem(17);
        width: toRem(17);
        height: toRem(17);
        margin-right: toRem(4);
      }
    }

    // .info-header__time-link
    &__time-link {
    }

    // .info-header__social
    &__social {
    }

    // .info-header__social-link
    &__social-link {
    }

    // .info-header__social-icon
    &__social-icon {
    }
  }
  .body-header {
    // .body-header__container
    &__container {
    }

    // .body-header__link
    &__link {
    }

    // .body-header__icon
    &__icon {
    }

    // .body-header__icon--violet
    &__icon--violet {
    }

    // .body-header__menu
    &__menu {
    }
  }

  .menu {
  }

  .menu-list {
  }

  .menu-item {
  }

  .menu-item-sub {
  }

  .menu-item-button {
  }
}
