// Mathematical library
@use "sass:math";

// Reset basic style
@import "_reset.scss";

// Fonts
@import "_fonts.scss";

// Components
@import "_common.scss";

// Functions
@import "_functions.scss";

// Variables
@import "_variables.scss";

// Header
@import "_header.scss";

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;

  > main {
    flex-grow: 1;
  }
}

body {
  color: black;
  background-color: rgb(92, 90, 90); // приємніший для очей
  font-size: toRem(16); // розміру шрифту, замість px в rem
}

[class*="__container"] {
  max-width: toRem(1250);
  padding-left: toRem(15);;
  padding-right: toRem(15);
  margin: 0 auto;
}


